body{
    background-image: url("/login.jpg");
    background-position: 100%;

}
.simple-flex-col {
    color: #647A7D;
    text-align: center;
    margin-top: 10%;
    border: aliceblue;
    border-style: groove;
    margin-left: 20%;
    margin-right: 20%;
    height: 150px;
    border-radius: 25px;
}
