.q-form {
    text-align: center;
    margin-left: 10%;
    height: auto;
    font-size: larger;
    font-weight: bold;
    color: #584937;
    background-color: #e7ddd9;
  
}
.checkbox {
  margin: 5px;
 text-align: left;
}

p.match {
  text-align: center;
  font-size: larger;
  font-style: italic;
  text-shadow: whitesmoke;
}